[2018-08-24 05:56] sam0x17 opened #1 "add full analog stick support"
By default (with no calibration / messages sent back to the Joy-Con), the Joy-Con supports 8-direction movement of both analog sticks, which is sent via data slot 3. Looking at other Joy-Con libraries, it is difficult to determine whether this can be increased to something more analog with some calibration. If anyone has any idea whether it is possible to do this, and what the procedure is for get

[2018-08-24 05:57] sam0x17 opened #2 "configuration file support"
TOML or YAML

[2018-08-24 14:56] XepherX commented on #1
it looks like this will help you:

https://github.com/dekuNukem/Nintendo_Switch_Reverse_Engineering/blob/master/bluetooth_hid_notes.md#standard-input-report---stick-data

[2018-08-25 01:32] sam0x17 commented on #1
@XepherX thank you so much for this I will look through and see what I can find

[2018-08-25 22:55] sam0x17 opened #3 "right analog stick interrupts current action"
Turns out this is caused by the left and right reports overwriting each other. We need to use one report object and not reset between inputs.

[2018-08-25 23:59] #3 closed

[2018-08-28 03:02] andrekorol opened #4 "There's no Visual Studio 2018"
In the Building section of  README.md there's a mention to Visual Studio 2018, but the latest version of Visual Studio is Visual Studio 2017.
Visual Studio is released every other year.

[2018-08-28 12:31] #4 closed

[2018-08-29 19:05] 0211beno opened #6 "Issue where you need debug Visual Studio DLL files for the application to work."

[2018-08-29 21:05] sam0x17 commented on #6
@0211beno I've chased this issue a whole bunch already. What I do know is there is something about the release config that is requiring Visual Studio stuff, and I have no idea what it is. If you use the releases from the release page, the needed DLLs are packaged with the distribution, but definitely let me know if there is another DLL that it is complaining about. Otherwise, if anyone has any ins

[2018-08-29 21:16] sam0x17 commented on #6
@0211beno I've added instructions to also install the Visual C++ 2017 Redistributable for Visual Studio to the README. This may or may not fix your issue. Let me know if it does. I'm assuming you were already using the latest release from the releases page?

[2018-08-30 18:19] sam0x17 commented on #6
@0211beno can you tell me what dll it is looking for?

[2018-08-30 21:01] 0211beno commented on #6
VCRUNTIME140D.dll

[2018-08-31 00:14] sam0x17 commented on #6
@0211beno I have included the file you are missing in the latest release to see experimentally if it fixes your issue. You are using Windows 10 right?

In the mean time I am pursuing a more permanent fix on stackoverflow

[2018-08-31 07:34] 0211beno commented on #6
I am using Windows 10. With the new version with included dll I get "Unable to start program error 0xc000007b

[2018-08-31 15:05] sam0x17 commented on #6
@0211beno I have swapped out some of the dlls in the 1.0.4 release  in such a way that this might get it to run on your machine -- still pursing a more permanent fix on stackoverflow.

Try this release: https://github.com/sam0x17/XJoy/releases/download/v1.1.4/XJoy.v0.1.4.zip

[2018-08-31 18:46] 0211beno commented on #6
Now it works for me.

[2018-08-31 19:44] sam0x17 commented on #6
ok cool 👍

[2018-09-07 23:07] atofigh opened #7 "Support for only one joycon at a time."
I've tinkered with XJoy a bit, including the code and I love it. My main use case for connecting the switch joycon to my windows machine, is to use the left joycon for movement in game (instead of the wasd keys) and use mouse for aiming. Suggestion: Do not require the presence of both left and right controllers.

[2018-09-07 23:12] atofigh opened #8 "Support for the SL and SR buttons on the attachment rails"
When using a single joycon, the SL and SR buttons are quite useful. I tinkered with the code a bit and it looks like there is distinct signals detected, just that the code is not set up to handle that type of input yet.

[2018-09-08 21:15] sam0x17 commented on #7
@atofigh great suggestion. I plan to add support for this with the introduction of config files, which I am working on. In the mean time feel free to comment out the relevant line to disable either controller https://github.com/sam0x17/XJoy/blob/master/XJoy/XJoy.cpp#L519

[2018-09-08 21:17] sam0x17 commented on #8
@atofigh yes I forgot to map these because my joycons have battery cases that cover them up! I will add this soon but top priority right now is adding full analog support.

[2018-09-08 22:31] atofigh commented on #8
Analog support sounds like an awesome feature. And thanks for sharing the code.

Just FYI, the SL and SR buttons are mapped to the dpad region with values 32 and 64 respectively.

[2018-09-08 22:51] atofigh commented on #8
Sorry, got that wrong. the values are 16 and 32.

[2018-09-09 01:13] sam0x17 commented on #8
@atofigh thanks this saves me some time!

[2018-09-10 22:31] HarryPeach opened #9 "Support analog stick acceleration"
When moving the analog sticks, the full force is registered rather than the appropriate amount based on how much the analog stick is pushed.

For example, in a game if the stick is pushed slightly the character walks slower than if it was pushed entirely. I have not been able to replicate this functionality in Xjoy.

Thanks for the great work, hope its possible to add this!

[2018-09-11 05:34] sam0x17 commented on #9
@HarryPeach thanks for reporting this yes this is known and I am working on adding full analog support. By default when you connect to a Joy-Con with no calibration/initialization, it will report back analog stick movements as if they were an 8-way DPAD. This is why movement is currently limited. I hope to have some time to work on this next week. Please follow #1 for progress on this issue.

[2018-09-11 05:34] #9 closed

[2018-09-11 05:38] sam0x17 commented on #7
closing this in favor of #2, which will add support for this

[2018-09-11 05:38] #7 closed

[2018-09-11 05:39] sam0x17 commented on #8
@atofigh if I add this before we have config file support, what would you want those bound to by default?

[2018-09-12 21:59] atofigh commented on #8
Personally, I bound them to A and B because I just need extra buttons when using the left joycon alone. But that doesn't seem like a very natural choice. I would suggest mapping them to either LT/RT or LB/RB.

[2018-09-14 14:35] #6 closed

[2018-09-19 17:32] cimocw opened #11 "Multiple controllers"
is there a way to have more than one pair of joycons working at the same time? I tried but all I got was the first pair registering the inputs on both instances of the application.

[2018-09-20 16:21] sam0x17 commented on #11
With the code the way it is, there is no way to do this, but you might be able to extend my code to handle this. https://github.com/sam0x17/XJoy/blob/master/XJoy/XJoy.cpp#L164 returns a list of all devices that are found that match the manufacturer and product specified. My code just takes the first one, but you could modify things so that it instantiates the first and second one. This is beyond t

[2018-09-20 16:21] #11 closed

[2018-09-20 20:29] cimocw commented on #11
I understand and appreciate your help. I don't code but will keep an eye on the project in case someone else does it. For the time being I think I can manage borrowing an extra pro controller to play multiplayer games. Keep up the good work!

[2018-09-24 14:23] glaita opened #12 "Option to use each joycon as a full controller?"
It would be really usefull if they joycons could be used individually (at least on some games). Is there a way to map de main buttons (axis, triggers and the 4 buttons) to it's xbox counterparts and use 2 joycons as 2 "full"(no really full) xbox controllers?

[2018-09-24 14:28] sam0x17 commented on #12
this will be possible when I add configuration file support, allowing you to completely customize the key-mappings. In the mean time it is possible to do what you want by customizing the mappings directly in the source code which you may or may not be able to do

[2018-10-14 23:39] DylanHanna opened #13 "Error"
Everytime I attempt to open the XJoy.exe I get an application error that reads "The application was unable to start correctly (0xc000007b). How do I fix this? Before this occurred it said I was missing msvcp140.dll and vcruntime140.dll although I had both of them installed so I put the before mentioned dlls into the folder where XJoy.exe resides and got the application error.
<img width="295" alt=

[2018-10-14 23:45] DylanHanna commented on #13
While testing I also made sure that the joycons were both "connected"

[2018-10-27 12:51] Eeveein opened #14 "Cant find a EXE?"
As the title says. I can't find the XJoy.exe file anywhere in the zip. Help?

[2018-11-01 18:02] sam0x17 commented on #13
@DylanHanna any updates on this? Did you try any of the above?

[2018-11-09 02:49] Yggromath commented on #13
Same problem here, I followed every step, what should I do?

[2018-11-09 05:52] sam0x17 commented on #13
@Yggromath I will look into this this weekend

[2018-11-09 05:53] Yggromath commented on #13
thanks dude

[2018-11-09 13:52] sam0x17 commented on #13
@Yggromath so to confirm, you 1) installed the Install the ViGEm Bus Driver, 2) installed Visual C++ Redistributable for Visual Studio 2017 and 3) you have Windows 10?

[2018-11-09 16:15] Yggromath commented on #13
Yep

[2018-11-09 16:30] Isiolith commented on #13
Hello, I got a similar issue with the message "ucrtbased.dll" and then "vcruntime140d.dll" not found.
Maybe your binary is looking for debug dlls, whereas VisualC++redist only give us the non-debug version ?
Also these 2 dlls seems to be linked to 2015 redist, whereas 2017 redist is asked in the readme.

[2018-11-09 16:48] Isiolith commented on #13
I got it working by adding "ucrtbased.dll" and "vcruntime140d.dll" in the XJoy folder

[2018-11-09 22:17] sam0x17 commented on #13
@Yggromath could you try also installing the 2015 redist, and we'll see if that fixes your issue? https://www.microsoft.com/en-us/download/details.aspx?id=48145

[2018-11-16 03:01] RodrigoLeiteF opened #15 "Some dependencies have their paths hard coded"
https://github.com/sam0x17/XJoy/blob/master/XJoy/XJoy.vcxproj#L93

[2018-11-22 01:33] sam0x17 commented on #15
fixed by #16

[2018-11-22 01:33] #15 closed

[2018-11-24 18:48] AceHack commented on #1
Thank you for this +10 looking forward to it.

[2018-11-27 18:00] Inari-Whitebear opened #17 "Setting the LEDs"
Probably not a top priority or anything, but I'd find it nice if this Program set the LEDs of the Joycons once connected, instead of letting them continue cycling them.

[2018-11-27 20:18] sam0x17 commented on #17
Yes, this is a low priority to-do item. Pull requests are welcome if anyone already knows how to do this.

[2018-11-27 20:19] #12 closed

[2018-12-05 06:44] FlaminSarge commented on #13
I'm also getting this issue, seems like it's trying to use the debug dll's for ucrtbase and vcruntime140 instead of the release ones.

[2018-12-06 04:11] sam0x17 commented on #13
Does anyone know what might cause this? I'm building everything in release mode

[2018-12-15 08:39] JovannMC opened #18 "Error in program"
When I open xJoy.exe with the Nintendo Switch Joy Cons connected, it says:

XJoy v0.1.5

initializing emulated Xbox 360 controller...
connection error: bus not found
press [ENTER] to exit

![image](https://user-images.githubusercontent.com/45893380/50040979-1aea4f80-005e-11e9-9af4-32aba017cc75.png)

[2018-12-15 14:11] bananakenobi commented on #13
same problem here, meh

[2018-12-15 14:11] bananakenobi commented on #13
is there any solution?

[2018-12-15 18:32] sam0x17 commented on #13
Until someone or me can figure out why a dependency is using debug dlls even when I specify release for everything, the solution is to have visual studio 2017 installed on your machine (it's free)

[2018-12-15 18:33] sam0x17 commented on #18
This probably means you did not install the ViGem bus. See the installation instructions.

[2018-12-15 18:33] #18 closed

[2018-12-15 18:54] bananakenobi commented on #13
yea , its already installed , still not working

сб, 15 дек. 2018 г., 20:32 Sam Johnson notifications@github.com:

[2018-12-17 10:01] juliareberg opened #19 "Complete Freeze"
I did everything according to the installation instructions, I get the console, the sound and the output as described. And then my system just freezes. No can do but brute force restart.

I'm using Windows 7 64x.

[2018-12-17 10:20] #19 closed

[2018-12-17 10:22] juliareberg commented on #19
nvm I found the problem! When installing ViGEm Bus Driver I forgot to install the Xbox 360 Accessories Software.

[2018-12-17 23:17] FlaminSarge commented on #13
As a workaround for these issues on v0.1.5, grab v0.1.4 and copy urctbased.dll and vcruntime140d.dll into the same folder as XJoy.exe.

@DylanHanna can you rename this GitHub issue to "Application attempts to use missing/debug dlls" or something?

[2018-12-19 05:57] sam0x17 commented on #13
I'll just cut another release with those dlls in place again if that is working for people. It's not the proper way to fix this but its much easier than chasing this down.

[2018-12-19 06:01] sam0x17 commented on #13
OK I have re-uploaded the zip for 0.1.5 with the old dlls that were included with 0.1.4, so people should no longer experience this issue. If anyone wants to fix this properly I'd really appreciate it as I do not have any time to devote to this right now.

[2018-12-19 06:01] #13 closed

[2018-12-23 19:48] UsernameK1 opened #20 "How to Customize"
I'm having trouble learning how to customize the button inputs and would like to know how?

[2018-12-23 20:13] sam0x17 commented on #20
Right now there is no way other than modifying the code and compiling yourself. If I ever get around to it I plan to add a config file to customize the bindings. The default bindings can be changed in XJoy.cpp in the `process_buttons` method: https://github.com/sam0x17/XJoy/blob/master/XJoy/XJoy.cpp#L237

[2018-12-23 20:13] #20 closed

[2019-01-06 02:10] sjobeek commented on #1
Hey there!  Great project - just got it up and running with a few tweaks for my particular setup and it worked like a charm.

I did however run into the 8-direction limitation in a game I'm playing - I'm also a developer and wouldn't mind helping out with the implementation if you have a feature branch in progress I could contribute to or need any help with debug / testing etc.

[2019-01-10 01:10] sam0x17 commented on #1
@sjobeek I would really appreciate the help as I have no time to work on this. The link @XepherX posted above should help you get started. Basically my understanding is there is some sort of initialization sequence that needs to be sent to the joycon to tell it to send full analog data. Otherwise that data just doesn't get broadcast in any way. By default if you dont do the initialization sequence

[2019-01-10 04:02] BlueWind95 opened #21 "Controller vibration?"
This is probably very low-priority, but are there plans to add the vibration feature to this?

[2019-01-10 05:51] sam0x17 commented on #21
Not at the moment as I don't have time to work on this, but feel free to submit a pull request :)

[2019-01-15 03:42] sjobeek commented on #1
Sam,

I ended up doing a bit more searching and came across another emulation project which has apparently has the analog input configured:

https://github.com/Davidobot/BetterJoyForCemu

This ended up solving my needs for now - thanks again though!

[2019-01-21 18:58] sketchy1 opened #22 "connection error: bus not found"
confused, getting the above error when running the program, and not sure what it means.

my gut instinct is telling me it has something to do with my wireless perhaps, but both joycons show up as connected in my bluetooth settings.

[2019-01-22 16:15] sam0x17 commented on #22
Yup, you should be good as long as you follow the installation instructions

[2019-01-22 16:15] #22 closed

[2019-02-01 12:53] ziobbe commented on #8
If I understand this correctly the triggers on the xbox 360/xbox one controller are analog input so maybe it would be a nice idea to map them as full, mid and low pressure of the corresponding (l or r) trigger or full low pressure plus a nice redundant keypress.

[2019-02-05 05:18] BlueWind95 commented on #21
Hahah, I'm not a great coder, but I might sometime try to take that challenge!

[2019-02-06 22:23] kjholt opened #23 ""could not find __ Joy-Con""
Not sure what I did wrong but when I get to the finding-Joy-Cons step, XJoy says "could not find left Joy-Con" (or right Joy-Con, depending). Both are connected/paired to Windows as "Joy-Con (L)" and "Joy-Con (R)" under "Mouse, keyboard, & pen."

Note a possible complicating factor: I'm running Windows on a Mac via KB Parallels virtual machine. I might be overlooking something as I'm not great wit

[2019-02-07 17:46] sam0x17 commented on #23
That might be the source of your trouble. I would verify first that bluetooth devices work properly in Parallels (as in pair something like a keyboard or xbox controller and see if you can actually _use_ it, not just pair it). My husband actually uses this same setup so I could try debugging if nothing else works.

[2019-02-08 17:06] sam0x17 commented on #23
It could be that they are coming in with a different product id. Is there a way you can check that?

[2019-03-09 10:01] takashi1kun commented on #17
Yes this could be great, is quite anoying to see the leds cycling, you may take a look to this https://github.com/mfosse/JoyCon-Driver that thing is a similar thing to this and is capable of stopping the cycling and set the leds to one position.

[2019-03-09 14:59] sam0x17 commented on #17
Yes, I've looked extensively through that code, though I don't quite understand the initialization sequence, but anyone is free to submit a pull request ;)

[2019-03-20 18:10] TideSinger commented on #17
`printf("setting LEDs...\n");
	for (int r = 0; r < 5; ++r) {
		for (int i = 0; i < joycons.size(); ++i) {
			Joycon *jc = &joycons[i];
			// Player LED Enable
			memset(buf, 0x00, 0x40);
			if (i == 0) {
				buf[0] = 0x0 | 0x0 | 0x0 | 0x1;		// solid 1
			}
			if (i == 1) {
				if (settings.combineJoyCons) {
					buf[0] = 0x0 | 0x0 | 0x0 | 0x1; // solid 1
				} else if (!settings.combineJoyCons) {

[2019-03-26 02:02] HarryPeach commented on #1
Looking at that reverse engineering page, the JoyCon is in "Simple HID Mode", using subcommand 0x03 to set it to "Standard Full mode" would hopefully return the data we want.

I'll look into it a bit and see if I can make any progress

[2019-03-26 02:46] sam0x17 commented on #1
@HarryPeach thanks I appreciate it. Again I haven't had any time to work on this but I'll test and do a release if you guys can get it working

[2019-03-26 18:59] HarryPeach commented on #1
I managed to get the JoyCon to report full data, but interpreting it would require lots of refactoring as the format of the report is different to the values coded to the enums. I'll try doing this over the week if I have time

[2019-03-26 19:37] sam0x17 commented on #1
nice -- would be great if we could use the full data!!

[2019-03-29 02:37] Rexord0 opened #25 "Input config."
Look i know u dont have time, but can u please change the input of the buttons to be like the xbox controller like x=Y and B=a pls

i will do it myself but i dont know how :(

[2019-03-29 04:55] #25 closed

[2019-03-29 04:55] sam0x17 commented on #25
fixed -- that should have been the default anyway

y'all need to learn C++

[2019-03-29 04:58] Rexord0 commented on #25
Tanks, I need too, Tho I only know the Basics ☹

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Sam Johnson <notifications@github.com>
Sent: Thursday, March 28, 2019 9:55:39 PM
To: sam0x17/XJoy
Cc: Rexord0; Author
Subject: Re: [sam0x17/XJoy] Input config. (#25)

fixed -- that should have been the default anyway

y'all need to l

[2019-03-29 04:58] sam0x17 commented on #23
My guess is this is a parallels specific issue. I don't have a mac, so I can't investigate any further.

[2019-03-29 04:58] #23 closed

[2019-03-30 19:01] #8 closed

[2019-03-30 19:01] sam0x17 commented on #2
update: this is in progress now :)

[2019-04-10 14:25] HarryPeach commented on #1
I won't have very much time to work on this anymore as exams and coursework are piling up over the next few months so I'll write up a bit about what I've gotten working and what I learned here:

The code below will make the JoyCon switch to its full reporting mode:
`
const unsigned char buf[40] = { 0x1, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x03, 0x30 };
hid_write(left_joycon, buf, sizeof(b

[2019-04-10 16:22] sam0x17 commented on #1
@HarryPeach thanks a bunch for your work

[2019-04-27 22:14] Shinwoir opened #26 "XJoy doesn't detect joy-cons"
It worked perfectly before, but now they aren't detected anymore
I have tried various other methods and Xjoy was the most efficient, but for whatever reason it doesn't detect anything
All dependencies are installed.

[2019-04-28 19:37] sam0x17 commented on #26
@Shinwoir could you try a few of the older versions and see at what version release it stopped working for you? Otherwise I have no way of debugging this. Also I would definitely try re-pairing the Joycons with your PC -- sometimes they just need to pair again.

[2019-05-01 20:56] Kurkiie opened #27 "where to find visual c++ 2017??"
I cant find the stupid visual c++ 2017 file therefore I cant open xjoy....

[2019-05-02 02:14] sam0x17 commented on #27
@Kurkiie are you following the installation instructions on the first page? It provides a link to the visual C++ runtime

[2019-05-02 02:14] #27 closed

[2019-05-08 18:16] WhatIsRove opened #28 "Error 0xc000007b"
I see that others have been having the same issue a few months back,
I have reinstalled multiple versions of Visual C++ and multiple versions of XJoy but I can't get it to work.
First it gives the error Msvcp140.dll is missing so I found it online seperately and put it in the same folder, but then it brings out the 0xc000007b error and doesn't work, I have installed the ViGE bus drivers and what n

[2019-05-19 04:39] DavidSL448 commented on #1
Hello!

I know that asking "how's progress" doesn't really accomplish much, especially since I'm no programmer and can't really help in any substantial way. Still, I was still wondering if you've kept working on this project? I've tried other Joycon "drivers", but yours seems to be the cleanest of the bunch - plus the others I've tried are extremely laggy. If you managed to add analog support, it

[2019-05-19 04:55] sam0x17 commented on #1
@DavidSL448 For the moment I don't have any time to work on this. If analog support was a quick little patch I'd just do it, but the problem is it turns out you have to communicate with the joycons in an entirely different mode, which basically means I'd have to change the commands I use for doing everything, not just analog. I'm really, really hoping that another programmer can step in and help a

[2019-05-19 05:00] sam0x17 commented on #28
Sorry for the delay @WhatIsRove if you could go through some of the previous versions and see if any of those give you the issue as well that would help me a lot. If it doesn't work with any of them it has to be something weird with your system because it does work for a good number of people. Specifically what will help me is if you can figure out the version where it suddenly stops working. Then

[2019-05-19 05:49] DavidSL448 commented on #1
So it's more complicated than changing a few lines of code, huh? Oh well! Thanks for your quick reply. I'll keep an eye out for any future updates you might make in the coming months or years. Cheers!

[2019-05-19 08:24] domenicoblanco commented on #28
Hi, I've the same issue and with version 0.1.4 it works for me

[2019-05-22 21:37] deltaFigure opened #29 "Missing dll"
Hi, when i'm using the latest version (0.1.8) i get the error that i'm missing the dll: VCRUNTIME140D.dll
Using an older version (0.1.4) works fine.

[2019-05-29 14:24] wormyrocks commented on #1
@sam0x17 I implemented this for the Unity Joy-Con library and am working on a pull request.

[2019-05-29 15:39] sam0x17 commented on #1
Fantastic -- thanks!

On Wed, May 29, 2019 at 10:24 AM evan kahn <notifications@github.com> wrote:

[2019-05-30 10:33] wormyrocks commented on #1
Here 'tis --
https://github.com/wormyrocks/XJoy/commit/6e50108983e7e5d593ef2864ad42a96cc134d53f

[2019-05-30 19:23] HarryPeach commented on #2
How far did you get with this? I may try experimenting with a toml config

[2019-05-31 06:17] PeterHindes commented on #17
make a pull request?

[2019-05-31 08:53] sam0x17 commented on #2
I basically just had a branch where I included a YAML parsing library. Feel
free to use whatever, tho the library I found was pretty good.

On Thu, May 30, 2019 at 3:23 PM Harry Peach <notifications@github.com>
wrote:

[2019-06-05 18:49] domenicoblanco commented on #28
I fixed installing Visual Studio

[2019-06-08 04:24] greysdawn commented on #29
I just had to fix this issue by copying the dlls rom 0.1.4/0.1.5 into the folder with 0.1.8 and that worked
Going by an old, closed issue, it's a dependency that's causing the problem by looking for debug dlls that it shouldn't need, so I guess the best way to fix it is either by copying the dlls or using an older version like you are now

[2019-06-08 04:45] sam0x17 commented on #29
haha ok I've given up trying to get this to not need those dll's so I'm
just going to cut a version that includes them by default with the next
release

On Sat, Jun 8, 2019 at 12:24 AM Grey Himmel <notifications@github.com>
wrote:

[2019-06-08 04:50] greysdawn commented on #29
@sam0x17 Honestly I don't blame you, and as long as it fixes the issue I'm sure most people won't mind (I know I don't, personally)

[2019-06-11 15:26] sam0x17 commented on #17
yes, I plan to include that in the next release -- was hoping TOML support would also be done in time, but if another week goes by I'll just cut a release now

[2019-06-11 15:26] #17 closed

[2019-06-26 20:03] Liberte78 commented on #1
WORKS LIKE A CHARM!!!
Thank YOU!!

[2019-06-26 20:34] sam0x17 commented on #1
if someone wants to cut a new release with this I'll approve it

On Wed, Jun 26, 2019 at 4:03 PM Liberte78 <notifications@github.com> wrote:

[2019-07-04 18:38] anonymus177 opened #32 "All buttons pressed at all times."
The title is self-explanatory, when I start the program all the buttons are being pressed so nothing is playable.  Log looks like this and it just keeps going and going. What am I doing wrong?
![Bez názvu](https://user-images.githubusercontent.com/28503821/60684007-99dc9380-9e9b-11e9-8456-f7daf0105c31.jpg)

EDIT: I tried both the older and newer versions, 0.14, 0.15, 0.17 and 0.18.

[2019-07-04 22:22] sam0x17 commented on #29
I have re-released the current release to include the missing dll files, so it should now work on anyone's machine.

[2019-07-04 22:22] #29 closed

[2019-07-04 22:22] sam0x17 commented on #28
It should now work with the latest release (which I re-released) as I have included the missing dll files.

[2019-07-04 22:22] #28 closed

[2019-07-04 22:23] sam0x17 commented on #26
any updates on this @Shinwoir ?

[2019-07-04 22:24] sam0x17 commented on #32
@anonymus177 do you happen to have any other controller emulators installed? I am thinking there might be some other software interfering with XJoy. The best way to find out would be to try installing on a fresh install of windows 10 and see if it works. Please let me know anything unique about your setup that you think could be causing this, as without the ability to reproduce the error I have no

[2019-07-05 00:21] sam0x17 commented on #1
now included in https://github.com/sam0x17/XJoy/releases/tag/v0.1.9

Thanks again @wormyrocks!

[2019-07-05 00:21] #1 closed

[2019-07-13 18:06] anonymus177 commented on #32
Xjoy was the first I tried, I started trying the others only after it didn't work. But amazing news - after the last update it miraculously works! So it could have been caused by the analog sticks maybe? I have calibrated them by myself, maybe that was the issue, but now it all works as it should and I'd like to thank you for your amazing work!

[2019-07-13 18:33] sam0x17 commented on #32
Hah great to hear its working and yeah no idea why lol!

[2019-07-13 18:33] #32 closed

[2019-07-13 18:34] sam0x17 commented on #26
I'm going to archive this unless @Shinwoir follows up as no one else has been having this issue and we've done new releases since then

[2019-07-13 18:34] #26 closed

[2019-07-16 20:51] Sicurious opened #33 "user cal not found"
for me it keeps saying "user cal not found". what can i do about that error? i followed all the instructions and can't seem to make it work.

[2019-07-16 21:21] sam0x17 commented on #33
Looks like this error was added with the new full analog support changes by @wormyrocks
https://github.com/sam0x17/XJoy/blob/master/XJoy/XJoy.cpp#L316 so he might be able to offer some insight. Is the error message showing just once, twice, in a loop? Also, have you tried seeing if XJoy is working anyway despite the error?

[2019-07-17 05:08] Sicurious commented on #33
the error pops up twice. The first one after the left joycon is found and the second one after the right one is found. And for me it shows the button that is being pressed but it doesnt seem to do anything. Like when i try to use it ingame it doesnt work at all :-/

[2019-07-17 15:16] wormyrocks commented on #33
Hi,

"User cal not found" displays when the user has not done manual analog stick calibration on the Switch, in which case the program falls back to using the factory stick calibration.

Doing the user calibration may be helpful if you have the Joy-Con drift issue.

So short answer, you can safely ignore the "user cal not found" message.

[2019-07-17 15:19] Gloix commented on #33
May I suggest using the word "calibration" instead of "cal" as I kept seeing this issue and thinking "Why would XJoy care about some freaking calendar".

[2019-07-17 16:53] sam0x17 commented on #33
@Gloix yes I was a bit confused by this as well when I saw it -- I will change the text

It also sounds like you have a separate issue where XJoy isn't working for you? What game are you trying to use it with. Remember that the game needs to support Xbox 360 controller input. For some games, you need to select the controller or enable controller mode under input/control options.

[2019-07-17 17:07] sam0x17 commented on #33
note: ambigious error message has been fixed with db502cb7846600e3d9e6eb7b130a9938f414c121

[2019-07-17 17:13] Gloix commented on #33
I may have not written that well. I don't have this issue. I just saw it in the issues section of the repo and though of "calendar" as a word for "cal". 🙃

[2019-07-17 17:30] sam0x17 commented on #33
ah ok excellent -- closing!

[2019-07-17 17:30] #33 closed

[2019-07-19 11:45] gaberilde commented on #2
good, there need to be a way to swap x/y and a/b buttons so they become correct.

[2019-08-10 16:23] NexusTheBrony opened #36 "unable to find XJoy.cpp"
So I downloaded XJoy and I want to fix the controls to where a is a, etc. but i can't find XJoy.cpp.

![files](https://user-images.githubusercontent.com/32724830/62824275-73c8a400-bb69-11e9-91fa-8bc5ed28189c.png)
these are all the files I have. How would I change the controls? If I can't change the controls without building the program, would x360ce be able to do it?

[2019-08-10 22:06] sam0x17 commented on #36
You will need to:

1. Install visual studio
2. Install git
3. Clone the repo
4. Open the solution / .sln file in the root of the repo with visual studio
5. Make changes to XJoy.cpp to use the control scheme you want
6. Rebuild the project in visual studio
7. Browse to where the visual studio project is located, find the .exe file that got built, and overwrite your usual XJoy.exe with that

Once we

[2019-08-12 03:58] #36 closed

[2019-08-26 00:03] Quagekolok opened #37 "error 0xc000007b. again"
i installed all the things and tried to run v0.1.4 but it still gives me this error.

[2019-08-26 05:45] sam0x17 commented on #37
What about with the latest version?

[2019-08-26 05:46] sam0x17 commented on #37
Also, what version of windows are you using?

[2019-08-26 05:47] sam0x17 commented on #37
Also, try installing this and if it fixes it let me know and I'll update the directions accordingly: https://aka.ms/vs/16/release/vc_redist.x64.exe

[2019-08-26 05:47] Quagekolok commented on #37
sorry, i mean to say that i downloaded the latest version, that didn't work, so i looked at previous issues, tried 0.1.4, that also didn't work. I'm using Windows 10, 64 bit

[2019-08-26 05:48] Quagekolok commented on #37
I have also installed this, multiple times

[2019-08-26 05:50] sam0x17 commented on #37
ok try:
1. .NET Framework: https://dotnet.microsoft.com/download/dotnet-framework/net472 (apparently it is sometimes associated with this error)
2. last resort, download Visual Studio 2019 Community Edition, which 100% should make it work: https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=Community&rel=16

At that point you will literally have everything that I have insta

[2019-08-29 21:04] sam0x17 opened #38 "input lag"
@wormyrocks not sure if you noticed before but it looks like some of the new analog support changes introduce some significant input lag / glitchiness. I'm going to investigate and see if I can figure it out.

[2019-08-31 06:52] rster2002 opened #39 "Error when building: unresolved external symbol"
I tried rebuilding the application because I wanted to remap some buttons, but I couldn't get it to work. I'm not experienced in building .cpp files, but when I try I get an error log saying that the builder can't resolve external symbols.

The full log after running `cl XJoy.cpp`:
[code]

I might just be doing something wrong, but I thought I would let you decide whether or not it's a bug or just

[2019-08-31 19:10] sam0x17 commented on #39
This happens when it can't find the vigem bus library, and its been so long I honestly forget the details of what needs to be in place to link properly.

https://github.com/ViGEm/ViGEmBus

You might want to get some help from nefarious, who makes ViGEm https://discordapp.com/invite/QTJpBX5. He would probably be able to tell you exactly what to do based on that error.

[2019-08-31 19:10] #39 closed

[2019-08-31 20:05] rster2002 commented on #39
Thanks for the response. I'll look there.

[2019-09-02 17:03] wormyrocks commented on #38
cool, I'll take another look as well. Did getting rid of the newlines improve things?
I'm trying to restructure and modularize a lot of this code and turn it into a dynamic library, so most of what I learn is going to end up in that repo:
https://github.com/wormyrocks/jcl2.0
Nothing is close to production ready yet, I'm afraid.

[2019-09-02 17:29] sam0x17 commented on #38
Thanks I appreciate it. The newlines issue appears to be an additional problem (that the latest release fixes), but there is some weirdness where something gets out of sync and it starts holding down buttons that aren’t being pressed. When that isn’t happening, there is some occasional input lag. I’ve investigated but I’m not sure what is doing it. For my purposes I’m actually need a cross-platfor

[2019-09-02 22:17] JDCSG opened #40 "Issue with XJoy and DLL files"
Specifically MSVP140.dll

[2019-09-02 22:47] sam0x17 commented on #40
This happens when you are missing a Visual C++ Redistributable https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

[2019-09-03 20:23] JDCSG commented on #40
Okay, it's working and I'm scared.

[2019-09-03 20:27] JDCSG commented on #40
nvm still not working

[2019-09-03 21:15] JDCSG commented on #40
I've seen people drag and drop those files in the XJoy folder, but I'm pretty sure that won't work.

[2019-09-09 21:17] sam0x17 commented on #40
Next step would be to try installing Visual Studio 2019 Community. For some reason some people need to have this installed.

[2019-09-20 14:48] #40 closed

[2019-10-16 05:37] raindew120 opened #41 "XJoy not reading analog stick controls"
Is the software not supposed to be able to pick up the analog stick controls? Everything works fine except the left and right analog sticks. It doesn't even show up in the command lines in XJoy.exe when I try moving them. I've tried it on both my Windows 8.1 and my Windows 10 laptops, and neither works.

I'm on XJoy v0.2.0.

[2019-10-16 19:21] raindew120 commented on #41
Update: Oops nevermind, doesn't seem like it was XJoy's fault after all. Though the analog inputs don't show up in the command prompt, they work perfectly fine in games that support Xbox contollers, like Stardew Valley. I was having problems getting Retroarch to recognise the analog stick inputs, and it seems like it's an issue with RetroArch rather than XJoy.

[2019-10-16 19:52] #41 closed

[2019-10-16 20:07] sam0x17 commented on #41
Yeah, I had it suppress printing the analog state in the terminal because it bogged down performance a ton

Glad it works!!

[2019-11-09 15:14] DQfan65 opened #42 "Switch Online NES Joycons not working."
I’ve been trying to use Xjoy for the NES Switch Online controllers that you can buy from Nintendo if you have a Switch online subscription but they don’t work, on the button mapping screen everything registers a left input and the d-pad doesn’t work at all.
These are still technically joy-cons but i haven’t found anything that works on PC for them.

[2019-11-10 09:25] ShauniwithoutanX opened #43 "Significant input lag on the (L) Joycon"
There is a full half a second delay on the left joycon while the right joycon works at a reasonable speed

[2019-12-02 20:39] PhilippeSteinbach opened #44 "could not find left Joy-Con"
Hi,

I was using XJoy for the last couple weeks and I liked it very much.
But sadly it stopped recognizing my JoyCons.

I've tried multiple times to just re-pair the JoyCons, but it wont change anything.
Any idea what I might be doing wrong?

Running Windows 10 Pro 1903.

**Output:**

[2019-12-06 12:41] svbeon commented on #33
So the calibration should be done on a switch! Might want to add a more descriptive message for this, I kept looking for a way to open XJoy in some form of calibration mode...

[2019-12-06 16:42] sam0x17 commented on #33
ah ok, thanks for the context @svbeon I did not realize that. Does the calibration only pertain to gyroscope or also other things like analog controls?

[2019-12-06 16:44] svbeon commented on #33
No idea tbqh. I can try looking into it later

[2019-12-29 00:10] RiskFX opened #45 "initializing emulated Xbox 360 controller... connection error: bus not found"
I installed everything that was required for this to work. So when I run XJoy.exe I get this:

XJoy v0.2.0

initializing emulated Xbox 360 controller...
connection error: bus not found
press [ENTER] to exit

[2019-12-30 07:20] sam0x17 commented on #45
This usually indicates you don't have ViGEm installed or installed properly. Please ensure that you have followed the setup instructions on the main page

[2020-01-04 19:45] super-shooter commented on #45
i downloaded and installed the ViGEm and had the same problem, do i need to copy and paste the ViGEm somewhere?

[2020-01-07 21:46] sam0x17 commented on #45
you might want to try an older version, it's possible ViGEm has been updated to where it is incompatible with XJoy. If so please let us know here so I can update the README

[2020-02-24 21:44] BunsiBunny opened #46 "I installed visual studio but i can't find it"

[2020-02-26 18:54] sam0x17 commented on #46
Little more details and I might be able to help

[2020-03-18 01:53] RiskFX commented on #45
it's still not working, i'm getting the same error on my laptop

[2020-03-18 01:57] sam0x17 commented on #45
I don't have a windows machine at the moment to investigate this but hopefully someone from the community will.

[2020-03-18 02:11] RiskFX commented on #45
I found the issue! Installing the drivers doesn't work until you go through the ViGEm Bus Setup, then it will work.

[2020-03-18 02:44] sam0x17 commented on #45
yay community :100:  :tada:

[2020-03-18 02:44] #45 closed

[2020-03-18 08:57] octavegraf opened #47 "How to switch buttons ?"

[2020-03-24 04:08] jeezsaiyan opened #48 "Bus not found error"
When I open xjoy it always says bus not found. The problem is I correctly installed the driver and restarted my computer. Any help?

[2020-04-04 00:54] upwn opened #49 "i only have left joycon"
Hi, I want to be able to just use the left joycon as an xbox controller, but when I start up xjoy is detects the left controller, doesn't detect the right controller, and then tells me to hit enter to quit the program. I was hoping to do some PC gaming on steam using the left joycon as my WASD plus other functions that i'd be able to map in through steam, and then a mouse for aiming.  but i didn't

[2020-04-04 02:20] upwn commented on #49
ok now i'm playing with visual studio like a noob. I read that you said you can disable a controller by commenting out the relevant line in visual studio. Do I disable all lines that mention the right joycon, or just line 519 like was highlighted in the previous comment? and how do i comment it out, am i just deleting it from the document? any help would be appreciated

[2020-04-04 02:25] upwn commented on #49
or if you could mention what i need to do with YAML or TOML (completely new to both of those terms) to disable the need for the right switch controller

[2020-04-04 03:46] sam0x17 commented on #49
You'll just want to completely disable the code that initializes the joycon
you don't want. I think there are two functions near the bottom of the file
that do that.

On Fri, Apr 3, 2020 at 10:26 PM upwn <notifications@github.com> wrote:

[2020-04-04 04:24] upwn commented on #49
thanks for your quick response! i read up on what commenting out was after i posted, then through trial and error I managed to comment out the the right thing (the function's that mention the right joy con initializing at 367, and also at 742) it told me to comment out some other stuff in relation and clean it up, and it worked! I thought it would be really difficult to use, but after i stared at

[2020-04-04 04:24] #49 closed

[2020-04-04 08:55] Interfish commented on #44
same here, I confirmed both left and right are connected

[2020-04-04 16:20] sam0x17 commented on #44
Sometimes you may need to re-pair the joycons with your computer. It's also
possible yesterday's windows feature update messed with things. Might want
to check for a ViGEm update.

On Sat, Apr 4, 2020 at 4:56 AM Randy <notifications@github.com> wrote:

[2020-04-05 00:15] DiamC23 opened #50 "Left Joycon not detected"
I have both joycons connected to my pc, and have everything installed, yet whenever I open the program it says that the left joycon wasn't detected and says press enter to exit. I've tried reconnecting my joycons and reopening the program, and restarting my pc multiple times, but still nothing.

[2020-04-19 18:38] Nic17tm opened #51 "warning: user calibration data not found"
The joycons are connected to my pc using bluetooth, I follow all the steps and everything is good,
but when I open xJoy it says

warning: user calibration data not found
Only in 1 joycon

[2020-06-09 07:17] nxli opened #52 "Virtual controller before joy connection."
Dark Souls 2 is only using the first connected controller and there is no way to change it. Could XJoy be implemented as working before connecting Joy Cons?

Right now, XJoy can only be closed if running before connection of Joy Cons. It can be implemented as waiting for Joy Cons to be connected.

[2020-06-18 23:35] codingForCats commented on #51
I also have this problem, although I wasn't able to install visual C++ for 2017, I think because I have a newer version

[2020-07-04 11:00] 1000Howards opened #53 "Right joy-con analog input lag"
Hey, I'm not sure if this is simply how the program interacts with games on steam but I've noticed when trying the program that when using the right joy-con analog, there is either an input lag of around half a second to a full second when adjusting camera angles and in other game I've tried, the camera seems to jerk around instead of smoothly following the analog inputs. Is there a way to fix thi

[2020-07-06 18:11] Sekorts commented on #40
Hi! i'm haivng the same issue, I'm on windows 10, I installed both the vgem driver and visual studios from 2015 to 2019 and I still get the same error message, even when the files are on the same folder as the xjoy.exe. Any ideas?

[2020-07-06 18:16] Sekorts opened #54 "missing dll files"
Hi! I've been browsing the issues page to find a fix but so far everything i tryed has failed.

I've also left a comment on an old issue about the same thing, but just in case I'm oppening a new issue.

When I open the program, it prompts that i'm missing several .dll files wich are on the same folder as xjoy.exe.

 I'm on windows 10, installed vgem and all c++ redistributables from 2015 to 2019.

[2020-08-04 20:42] Cyberblader commented on #51
This happens to me too on both Joy-Cons every time I open XJoy

[2020-08-04 20:45] Cyberblader commented on #47
I would also like to know this, as I have 0 programming and coding experience and have no idea how to remap the buttons to the traditional Nintendo Layout

[2020-08-04 20:47] Cyberblader commented on #2
What is TOML, YAML, and parsing libraries? Am I going to be required to know programming and coding just to swap the buttons?

[2020-08-05 16:56] sam0x17 commented on #2
Yes

[2020-08-05 16:58] sam0x17 commented on #51
Yeah this isn't an error, it's fine.

[2020-08-05 16:58] #51 closed

[2020-08-05 16:59] sam0x17 commented on #47
Unfortunately it is impossible to change these without having someone do it for you or learning some basic C++ development skills as the values are hard-coded right now and the person working on the configuration file feature abandoned it. Always a great time to learn though!

[2020-09-16 01:04] CSGOFlood opened #55 "[BUG] Left JoyCon spams inputs instead of holding inputs"
As the title suggests, pressing any button on JoyCon (L) registers way more than 1 input of said button depending on how long the button is held for. Also, ANALOG doesn't work on JoyCon (L) but works fine on JoyCon (R).

[2020-09-16 20:27] JorisPLA7 commented on #53
Same problem for me.

[2020-09-19 19:47] sam0x17 commented on #2
If anyone wants to pick this up it is a heavily requested feature. Again I no longer have windows so I cannot work on XJoy but happy to review pull requests

[2020-09-19 19:48] sam0x17 commented on #55
If anyone wants to pick this up it is a heavily reported bug. Again I no longer have windows so I cannot work on XJoy but happy to review pull requests

[2020-10-09 15:05] Kjenium opened #56 "The console get spammed with invisible character."
I don't know why, but the program console, gets spammed with "" and so it automatically scrolls down

[2020-11-07 22:30] AcideA7X opened #57 "Cannot connect 2 pairs of Joycons"
Hello!
I tried to use 4 joycons to play with a friends and it turns out Xjoy only recognize one pair of Joycons
Do have any solution for us? Or is connecting 4 joycons juts impossible for now?

Thank you for your help!

[2020-11-07 22:55] sam0x17 commented on #57
You _might_ be able to jank this into working by running multiple instances of XJoy, but I have never tested this.

The code isn't too complicated and is all contained within one file, so I definitely recommend trying to modify the project to suit your needs if you have any C++ experience or are willing to teach yourself a bit.

Good luck!!

[2020-11-13 13:23] Ilmu011 opened #58 "Left joy con has significant input delay"
The left joy con has a significant input delay compared to the right joy con. It's so bad, that it renders the whole setup unplayable. It's very peculiar since the right joy con seems to have no input delay whatsoever.

[2020-11-13 13:24] Ilmu011 commented on #48
Are you sure you installed the vigem bus driver correctly? Try running this setup: https://github.com/ViGEm/ViGEmBus/releases/tag/setup-v1.16.116

[2020-11-15 23:18] sriracha0 opened #59 "bus not found error"
I have been using Xjoy for as long as I can remember with no problem, but recently upon running Xjoy v0.2.0, I received an error reading "connection error: bus not found." After doing a little searching this seems to be referring to the ViGEmBus that's specified in the README, which I already had, and have downloaded and redownloaded at this point with no change. I've been using the program succes

[2020-11-16 02:19] sam0x17 commented on #59
Sorry this has happened --- I would definitely try running older versions
of ViGEm in case an update caused this (but if you didn't update it, it
probably isn't that) and/or an older version of XJoy. Let me know if that
helps!

On Sun, Nov 15, 2020 at 6:18 PM Jonathan <notifications@github.com> wrote:

[2020-11-16 03:21] sriracha0 commented on #59
After jumping through some more hoops regarding bluetooth drivers, your recommendation worked. Thank you!!!!!!

[2020-11-16 03:21] #59 closed

[2020-11-17 20:26] Ilmu011 commented on #58
I looked into this a little more and found out that the joy con which has the input delay depends on which one I connected to my PC first. If I connect the right joy con first and then the left, the left joy con has an input delay. Do it the other way round and the right one has the input delay. In both cases, the other joy con has virtually no input delay, so I think the problem might lie within

[2020-11-17 22:11] rainygg commented on #58
Updating the JoyCons firmware when connected to the Switch will possibly fix this. Give this a shot.

[2020-11-17 22:24] Ilmu011 commented on #58
@rainygg I went into the System Settings and performed a "controller update" while both joycons were connected. Is that what you meant? It did update them and says they are now up to date.

I went ahead and tested it again and the problem still remains though.

[2020-11-18 16:51] sam0x17 commented on #58
The pre-analog support versions of XJoy didn't have this issue, might have
luck trying one of the really old ones.

On Tue, Nov 17, 2020 at 5:24 PM Ilmu011 <notifications@github.com> wrote:

[2020-11-18 18:33] Ilmu011 commented on #58
@sam0x17 Ok, thanks for the suggestion. That would be v0.1.8, right?

[2020-11-18 18:37] Ilmu011 commented on #58
@sam0x17 Issue fixed! Under v0.1.8 I have no input delays whatsoever! Thanks for the suggestion!

[2020-11-18 20:30] sam0x17 commented on #58
Yeah anyone researching how to fix this permanently in the newer versions,
look at the diff between 0.1.8 and analog support changes the inefficiency
or concurrency bug or whatever was added there. I am a little unfamiliar
with how the analog stuff works but I reviewed it to the best of my ability
at the time.

On Wed, Nov 18, 2020 at 1:37 PM Ilmu011 <notifications@github.com> wrote:

[2020-12-27 22:57] KaelThas90 opened #60 "Left JoyCon stick not working properly"
The client works perfectly but for some reason the left analog stick won't work on the X axle, only allowing me to send inputs from the Y axle. How may I fix this?

[2020-12-28 20:48] sam0x17 commented on #60
Hmm that's an interesting one. I would definitely try removing and re-adding the joycons and/or trying on a different computer to confirm that it's not something strange about your environment. If you have an alternative pair of joycons I'd also try that as well.

Anyone else experience this issue?

[2021-01-06 22:01] Isrdvnt opened #61 "My problem with the left stick."
Hello, the last days i've been using Xjoy, but there's the problem, when i close xjoy, while i'm playing my games, the left stick is detected and move like left-foward, please help, how can i fix it.

[2021-01-07 06:17] sam0x17 commented on #61
So it's running/doing stuff after you close XJoy? Or are you saying there is a problem with the left stick while XJoy is running?

[2021-01-07 15:23] Isrdvnt commented on #61
No, the problem is that when I play a game that is compatible with the xbox control, the game detects as if I were moving the stick to the left, I can send a video.

[2021-01-21 20:23] popiomondayz opened #62 "does not detect?"
I used to use this app very nicely and it ran very smoothly
but now it kind of just STOPPED detecting drivers
it straight up gave me the error
"initializing emulated Xbox 360 controller...
connection error: bus not found
Press [ENTER] to exit"
I think there is a problem with vgiem but I never found any sollution

[2021-01-22 01:25] DavidEMorales commented on #57
Not sure if you still need this, but for anyone else who stumbles upon this in the future, I just replaced a few lines to get this working.

In the file XJoy.cpp, replace this:

`void initialize_left_joycon() {
  struct hid_device_info *left_joycon_info = hid_enumerate(NINTENDO, JOYCON_L);
  if(left_joycon_info != NULL) std::cout << " => found left Joy-Con" << std::endl;
  else {
    std::cout <<

[2021-01-22 10:27] popiomondayz commented on #61
so you mean...
_joycon drift?_

[2021-01-23 08:05] popiomondayz commented on #48
acctually i get this exact problem
although i installed both the bus and the driver
why? IDK

[2021-01-23 08:09] popiomondayz commented on #62
oh wait i just found a sollution
i needed to repair the driver there was a missing file 😝

[2021-01-23 08:09] #62 closed

[2021-02-02 17:51] STG996 commented on #56
I have the same scenario, just assumed that's the way it's supposed to work :/

[2021-02-02 17:52] STG996 opened #63 "Joystick Movement not Detected"

[2021-02-02 17:54] STG996 commented on #63
Title says it all. When I perform any kind of movement I get no response.

[2021-02-03 15:55] #63 closed

[2021-02-07 22:46] DarkLink46 opened #64 "Joycon don't work in every game"
Hi.

First off, I'd like to say that this software was a godsend to me last year, as I usually play pc games using an Xbox controller, but over time they started experiencing drift issues with the analog sticks. I stumbled across this last year, downloaded, connected my joycon to my laptop and was immediately able to dive in to any game and start playing happily.

Towards the end of the year, my l

[2021-02-26 22:41] orangii1juice opened #65 "XJoy.exe not showing up/not downloading"

[2021-03-12 22:32] sam0x17 commented on #65
You need to go to the `Releases` page and download the zip from there

[2021-03-12 22:32] #65 closed

[2021-04-12 19:19] OtakuAnime-M opened #66 "Incorrect Controller Input"
For some reason, the controller was randomly swapped to Player 3 from Player 1 when I restarted XJoy... Not sure how it happened or what went wrong.

[2021-04-12 22:41] LuceCannon21 opened #67 "Unable to control anything, does connect"
I started having issues a few days ago, I use xjoy to play stardew valley as wasd controls hurt my wrist and I'm not as fast with them. When I tried to use Xjoy to control among us one night (I realized it wouldn't work early on, whoops), it just stopped connecting to the joycons I usually use. I tried to switch around what controllers I use, and its just not working. I disconnect them from my com

[2021-04-16 15:47] dretax opened #68 "Does this support USB?"
If It doesn't, what's the exact reason for that? Been googling about it, but nobody seems to be talking about it.

[2021-04-16 16:41] sam0x17 commented on #67
User Calibration not found always gets said don't worry about that one

You probably have to unpair the old controllers from your windows settings > bluetooth devices

[2021-04-16 16:42] sam0x17 commented on #68
How would it support USB? There is no way to connect a Joycon via USB??

[2021-04-19 06:52] dretax commented on #68
Ahh that was the question. Thanks.

[2021-04-19 06:52] #68 closed

[2021-04-22 16:11] #67 closed

[2021-04-30 09:34] albfan commented on #57
Yes, hid_enumerate returns a list, so you can iterate on them.

I will do a proper PR for this, and try to relay on serial number so you can put it on config and pair same joycons at any time

[2021-04-30 17:45] sam0x17 commented on #57
Awesome guys will happily merge a PR please do be careful about testing that everything still works

[2021-05-02 14:59] albfan commented on #57
@sam0x17 To me the trick of running two times didn't work. I'm checking  if listening to existing joycons, you can detect two pressing L+R to pair them.

The idea is discard input from paired joycons, using serial number.

Not sure if hidapi serial number is unique and the same all the time, so I tried to read the serial number from joycon, but didn't work (not sure why, I'm using same code as JC

[2021-05-02 17:10] sam0x17 commented on #57
Gotcha, this is some good insight.

[2021-05-02 17:12] sam0x17 commented on #57
I don't work directly on this project anymore but happy to accept pull requests adding those features @albfan

[2021-05-06 17:15] albfan commented on #57
Ok, solved:  The https://github.com/CTCaer/jc_toolkit/blob/master/jctool/jctool.h#L20 the alignment for data read is important

[code]

That allows to read serial if other serial is not unique.

Allow me some time to put all in order. Trying to pair with "L+R" right now

[2021-05-09 17:58] #57 closed

[2021-05-14 00:04] sam0x17 commented on #17
here is prettified format of above code FYI:
[code]

[2021-05-16 03:13] tratamata opened #70 "Is there a way to turn off the home led ring on version 0.1.8?"
Hello, i'm running version 0.1.8 because with the newer versions i have a very noticeable input lag when there are 2 joycons connected (but not if i connect just 1) and it works mostly good but the home led stays turned on the whole time and i find it kind of annoying so i'm wondering if there was a way to turn it off?

[2021-05-17 19:53] sam0x17 commented on #70
It's not implemented in XJoy but you can use the Set Home Light sub command right after LEDs are set as documented here: https://github.com/dekuNukem/Nintendo_Switch_Reverse_Engineering/blob/master/bluetooth_hid_subcommands_notes.md#subcommand-0x38-set-home-light

I'd be happy to accept a pull request adding it

FYI I have a new project in the works that will be a paid program that does the same t

[2021-05-29 08:42] JounQin commented on #44
I'm facing the same problem when using virtual Windows OS on Mac.

[2021-06-15 00:08] ramencat64 commented on #54
same problem here.

[2021-06-17 02:42] phillypro opened #73 "Issue Building Solution in Visual Studio 2019 (cant open openvr_api.lib )"
iim not the most versed with visual studio im a javascript coder

but i was attempting to alter the button mapping on index360 github you cooked up

and make the left controller A/B  actually be A/B  so that i can use left hand controller and right hand mouse

when i download your github and open the solution and simply click build i get this error constantly

Severity	Code	Description	Project	Fil

[2021-06-17 04:25] phillypro commented on #73
my ultimate goal is simple  to use one index controller left hand

and a mouse in right hand

for ultimate joystick movement and mouse firing
but to do that i would need the left controller to map the most important buttons A = A  and B = B

i wish it were easier for not technical guys like me :(

it seems so good

[2021-08-10 13:39] Kitasa16 opened #75 "not working"
i got the controllers to pair but the game does not sense any controller.the game im playing works when i play with single joycon but when i match them together the game does not sense any controller.also the game im playing supports xbox controller

[2021-08-17 22:26] inhowl opened #76 "Doesn't register Joy Cons"
**Both Joy Cons show up as connected in the bluetooth settings but when I run XJoy.exe it says**
"
initializing threads...
 => created report mutex
 => right Joy-Con thread started
 => could not find right Joy-Con
press [ENTER] to exit
"

[2021-08-17 22:27] #76 closed

[2021-09-02 07:22] Hdusk opened #77 "can it support two pairs of joy-cons for one pc?"

[2021-09-02 19:17] sam0x17 commented on #77
Currently no, but with some modification to the source code it could. I am working on a re-write in Rust and will keep in mind that people want this feature.

[2021-09-02 19:18] #77 closed

[2021-09-04 04:39] qirmez opened #78 "Xjoy bus not found"
I've been using Xjoy for a long time now w/o issues, yet today I wasn't able to connect. Getting: 'connection error: bus not found.'  I'm a total noob with this but with the few guides i've seen i installed a vigem bus driver and ran it, selected repair because the modify option wasn't working for me. I don't know what a vigem bus driver is, or how I'm supposed to proceed after this.

Windows 10.

[2021-09-06 17:34] sam0x17 commented on #78
You might be able to try a more recent version of the bus potentially. It's also vaguely possible something like anti-virus etc tampered with it. I didn't make the bus so I can't really help very much other than pointing you to the vigem github / discord

[2021-09-06 17:34] #78 closed

[2021-09-12 13:44] qirmez commented on #78
I ended up fixing it by deleting/uninstalling all files required for Xjoy, restarting and reinstalling all of them from scratch. Thanks anyway!

[2021-09-13 21:24] Akagi430 opened #79 "my left joycon don't work with xjoy, apparently"
my problem was partially solved, the delay was on the two joycons and one of them stopped, but now my left joycon when I press a button and it stops working, and I notice that its light stops, normally it keeps blinking only when I I press a button the light stops, I don't know what to do

[2021-09-14 16:07] sam0x17 commented on #79
You might want to hard reset your joycon sometimes they can get in a bad state and need to be reset

[2021-09-14 16:07] #79 closed

[2021-09-16 15:48] Akagi430 commented on #79
how could i do this? I know very little about it

[2021-09-16 15:56] Akagi430 commented on #79
how do i hard reset my joy con?

[2021-09-16 16:23] sam0x17 commented on #79
Professor google is your friend :)

On Thu, Sep 16, 2021 at 11:56 AM Akagi430 ***@***.***> wrote:

[2021-09-16 18:18] Akagi430 commented on #79
I researched, I found only how to reset, no hard reset, and resetting didn't work

[2021-09-17 10:11] sam0x17 commented on #79
Reconnecting it to a running switch should perform a hard reset

[2021-09-24 15:43] Akagi430 commented on #79
man, it didn't work, i think i'll give up

[2021-09-24 21:07] sam0x17 commented on #79
very weird

[2021-11-15 09:41] micsthepick opened #85 "Double input on left stick"
I've noticed that after building the latest version, the left analog stick triggers a double move in any menu - it goes to the next item twice instantly. This does not affect the dpad on the left joycon.

[2021-11-15 09:43] micsthepick commented on #85
closing, as this was due to two different controllers being registered to the same joycon, ~~probably~~ definetly my own fault, whoops :)

[2021-11-15 09:43] #85 closed, assigned to nobody

[2022-01-16 17:50] Jazztoasty101 opened #86 "MSVCP140.dll Not Found And VCRUNTIME140.dll Not Found."
Whenever I Go To Open Xjoy it Gives Me 4 Errors, But The Final 2 Are Repeats. it Says Reinstalling Might Help But Ive Tried 2 Different Versions, 1 That Someone Said Worked For Them, And The Latest (Not Prerelease).

![image](https://user-images.githubusercontent.com/97847490/149671570-1319e1b9-92ea-485a-9ad6-e87c167c74db.png)

[2022-01-24 03:43] kcsc4848 opened #87 "JoyCon Analog Stick Signal Bounces - Debouncing Needed"
Hello,

I am experiencing an issue where the analog sticks of my two joy cons, connected using this solution, are demonstrating false actuation, typically in the down left and down right directions. These signals are bouncing frequently and seemingly randomly, regardless of physical input to the analog sticks themselves (i.e. I will be interacting in a game menu, and the selection will change on i

[2022-03-25 20:56] upwn opened #88 "i have made a single left controller fork, what do i do with it?"
i'm new to github sorry i just charge in and mess with things. I don't know how to properly give this back.

[2022-04-26 16:17] Aynshe opened #89 "Crazy left and right stick"
Hi,

What a disappointment !
However, congratulations to the developer, it is the only software that works almost perfectly !

But impossible to use it, the left and right stick goes crazy everywhere, at least remains blocked on the right/top position, impossible to calibrate it with the windows joytick tool.

And with a error warning: user calibration data not found

It's a shame, all the other b

[2022-04-26 23:07] ultramar1ne commented on #73
same question
![image](https://user-images.githubusercontent.com/71289924/165407033-4ba17aa0-c852-4f62-a71c-b94feee2b586.png)
I changed the code here and after building, the mapping not changed, why?
![image](https://user-images.githubusercontent.com/71289924/165407083-5fe751a1-159b-4007-9d1b-9ae22113b7c4.png)

[2022-05-03 02:42] HashkeyFencer opened #90 "the xjoy seems to start lagging when I connect 3+ controllers, but xjoy and another controller seem to be working fine"

[2022-05-03 18:51] sam0x17 commented on #90
There might be a concurrency issue with more than 2. I don't have a dev environment for working on this anymore so not something I can investigate but happy to accept pull requests that improve this

[2022-07-15 07:48] TF21045 opened #91 "connection error: bus not found"
![image](https://user-images.githubusercontent.com/53613828/179177449-8ff1e105-7a85-4a1c-9548-0a5b22a48c1f.png)

No matter what I do, it doesn't work.
Ran as administrator, Run as user, using different versions, Nothing!

[2022-07-15 13:59] A-Grant787 commented on #91
Try running this. It should work after this.
https://github.com/ViGEm/ViGEmBus/releases/tag/setup-v1.16.116

[2022-07-18 18:09] TF21045 commented on #91
aight nvm had to update windows from 1809 to 21H2
thanks for trying!

[2022-07-21 14:58] #91 closed, assigned to nobody